/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  --color-primary-light: #53b9d9;
  --color-primary-dark: #0e5d80;
  --color-secondary-light: #5bb1cc;
  --color-body: #474747;
  --color-white: #fff;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Block */
.block {
  padding: 3rem 2rem;
}

@media screen and (min-width: 1024px) {
  .block {
    padding: 5rem 2rem;
  }
}

/* Buttons */
.btn {
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
    padding: 1rem 2.2rem;
  }
}

/* Sensors */
.sensors__items {
  display: grid;
  gap: 2rem 0;
  grid-template-columns: repeat(3, minmax(90px, 150px));
  justify-content: center;
  align-content: center;
}

.sensors__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sensors__item p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: -2rem;
}

@media screen and (min-width: 1024px) {
  .sensors__items {
    grid-template-columns: repeat(6, minmax(100px, 150px));
  }
  .sensors__item p {
    font-size: 2rem;
    margin-top: -1.5rem;
  }
}

/* Features */
.info {
  background: #f6f6f6;
}

.features {
  background-color: #7edcf9;
}

.features h2 {
  color: var(--color-primary-dark);
  padding: 0 1rem 3rem;
}

.features__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  padding: 1rem;
}

.feature__img img {
  width: 100%;
  border-radius: 10px;
}

.features__item .feature__text {
  max-width: 255px;
}

@media screen and (max-width: 400px) {
  .feature__text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .features__items {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .features__item {
    flex-basis: 25%;
    padding: 1.5rem;
  }
}

/* Info */
.info-wrapper {
  display: flex;
  align-items: center;
}

.info__img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.info__img img {
  width: 80%;
}

.info__detail {
  width: 50%;
  padding-right: 1rem;
}

.info__detail h2 {
  margin: 3.5rem 0;
  color: var(--color-primary-dark);
}

.info__detail p {
  margin-bottom: 3rem;
}

.info__detail .btn {
  color: var(--color-white);
  background-color: var(--color-secondary-light);
}

@media screen and (max-width: 550px) {
  .info__img img {
    width: 100%;
  }
  .info__detail h2 {
    font-size: 1.6rem;
  }
  .info__detail p {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .info__img img {
    width: 80%;
  }
  .info__detail p {
    margin-bottom: 3.5rem;
  }
}

/* Navbar */
.main-header {
  background-color: pink;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.2rem 2rem;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
  margin-top: 2rem;
}

.nav__list .nav__item {
  list-style: none;
  margin-bottom: 0.5rem;
}

.nav__list .nav__item:not(:last-child) {
  border-bottom: 1px solid var(--color-white);
}

.nav__list .nav__item a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-white);
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.nav__list .nav__item a:hover {
  transform: translateX(-5px);
}

.nav__item.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.nav__item.cta .btn {
  margin-bottom: 1rem;
  width: 80%;
}

.nav__item.cta .btn--dashboard {
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}

.nav__item.cta .btn--download {
  color: var(--color-white);
  border: 2px solid var(--color-white);
  background-color: transparent;
}

.nav__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__buttons .btn {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-primary-dark);
  border-radius: 8px;
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.4s ease-in-out;
}

.nav__buttons .btn:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07);
}

@media screen and (min-width: 1024px) {
  .nav__buttons {
    display: none;
  }
  .nav__list {
    width: auto;
    max-height: 100%;
    opacity: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list .nav__item {
    margin-bottom: 0;
    margin-left: 2.5rem;
  }
  .nav__list .nav__item:not(:last-child) {
    border-bottom: 0;
  }
  .nav__item.cta {
    flex-direction: row;
    padding-top: 0;
  }
  .nav__item.cta .btn {
    margin-left: 1rem;
    margin-bottom: 0;
    width: auto;
  }
}

/* Toggler */
.nav__toggler {
  cursor: pointer;
  background-color: var(--color-white);
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
}

.nav__toggler .bar {
  width: 20px;
  height: 3px;
  margin: 3px 0;
  border-radius: 10px;
  background-color: var(--color-primary-dark);
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-3px, 3px);
}

.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Footer */
.main-footer {
  background: linear-gradient(243.02deg, #10A9DA -9.92%, #92E5FF 106.28%);
  width: 100%;
  padding: 2rem 2rem 0;
  display: flex;
  align-items: center;
}

.main-footer .footer {
  display: flex;
  flex-direction: column;
}

.footer .footer__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.footer__item h6 {
  color: #f4f5f7;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__item a {
  text-decoration: none;
  color: #eeeff4;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.footer__item a:hover , .footer__social a:hover {
  color: var(--color-primary-dark);
}

.footer .footer__social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 1rem 0;
}

.footer__social a {
  text-decoration: none;
  color: #eeeff4;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: var(--color-primary-light);
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}

.footer__social .footer__icons{
  margin-bottom: 1rem;
}

.footer__social p{
  font-size: 1.2rem;
  color: #eeeff4;
}

.footer__download a{
  display: flex;
  align-items: center;
  width: 100px;
  height: 35px;
}

.footer__download a img{
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer .footer__item{
    margin-left: 4rem;
  }
  .footer .footer__social {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__social .footer__icons{
    margin-bottom: 0;
  }
  .footer__item h6{
    font-size: 1.8rem;
  }
  .footer__item a{
    font-size: 1.6rem;
  }
  .footer__social p{
    font-size: 1.4rem;
  }
}
