<section class="features">
  <div class="container block">
   <h2>قابلیت های ویژه بانواز</h2>
   <div class="features__items">
     <div class="features__item">
       <div class="feature__img">
         <img src="/assets/images/feature-1.png" alt="pet-feature">
       </div>
       <div class="feature__text">
         <p>سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش مصنوعی گرسنه بودن اون رو تشخیص بدن!</p>
       </div>
     </div>
     <div class="features__item">
       <div class="feature__img">
         <img src="/assets/images/feature-2.png" alt="plant-feature">
       </div>
       <div class="feature__text">
         <p>با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه ها آب بدی!</p>
       </div>
     </div>
     <div class="features__item">
       <div class="feature__img">
         <img src="/assets/images/feature-3.png" alt="electronic-feature">
       </div>
       <div class="feature__text">
         <p>میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا حتی برای روشن بودن اون&nbsp;ها از بانواز کمک بگیری.</p>
       </div>
     </div>
     <div class="features__item">
       <div class="feature__img">
         <img src="/assets/images/feature-4.png" alt="window-feature">
       </div>
       <div class="feature__text">
         <p>باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت دیگه در سنسورهای بانواز!</p>
       </div>
     </div>
   </div>
  </div>
 </section>