<section class="hero container block">
  <div class="hero-wrapper">
    <div class="hero__detail">
      <h1>خیالت از خونه راحت</h1>
      <p>بانواز واژه ای کردی به معنای باخبر ساختن با صدای بلند است.درست مثل بانواز.<br>با سنسورهای بانواز از هیچ اتفاقی بی خبر نیستی. چه خونه باشی چه نباشی.</p>
      <button class="btn">فروشگاه بانواز</button>
    </div> 
    <div class="hero__img">
      <img src="/assets/images/home.png" alt="home-image" class="home-img">
      <img src="/assets/images/iPhone.png" alt="iPhone-image" class="mobile-img">
    </div>
  </div>
</section>