<section class="sensors container block">
  <div class="sensors__items">
    <div class="sensors__item">
      <img src="/assets/images/sensor-1.png" alt="window-sensor">
      <p>درب و پنجره</p>
    </div>
    <div class="sensors__item">
      <img src="/assets/images/sensor-2.png" alt="plant-sensor">
      <p>گل و گیاه</p>
    </div>
    <div class="sensors__item">
      <img src="/assets/images/sensor-3.png" alt="electronic-sensor">
      <p>وسایل برقی</p>
    </div>
    <div class="sensors__item">
      <img src="/assets/images/sensor-4.png" alt="lighting-sensor">
      <p>روشنایی</p>
    </div>
    <div class="sensors__item">
      <img src="/assets/images/sensor-5.png" alt="heating-sensor">
      <p>گرمایشی</p>
    </div>
    <div class="sensors__item">
      <img src="/assets/images/sensor-6.png" alt="pet-sensor">
      <p>حیوانات</p>
    </div>
  </div>
</section>